$main-color-pantone-blue: rgb(15,76,129);

$lookaround-hot-red: rgb(145,16,33);
$lookaround-light-red: rgb(221,46,68);
$lookaround-middle-yellow: rgb(227,221,70);
$lookaround-light-blue: rgb(19,123,171);
$lookaround-cold-blue: rgb(23,107,145);
