
/* External styles */
@import '~twemoji-awesome/sass/twemoji-awesome';
@import '../../../node_modules/leaflet/dist/leaflet.css';

/* Custom Angular Material style */
@import 'material-custom-style';
@import 'variables';

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body, html {
    height: 100%;
}

app-auth {
    background-color: $main-color-pantone-blue;
}

.center-section {
    margin: 0 auto;
}

.full-width {
    width: 100%;
}

.background-main-color {
    background-color: $main-color-pantone-blue;
}

app-header {
    // Color for icons in tabs
    .mat-tab-label, .mat-tab-link {
        color: rgba($main-color-pantone-blue, 0.87)
    }
}

app-sidenav-content {
    #account-details-div {
        h3 {
            margin-block-end: 0.5em;
            color: $main-color-pantone-blue;
        }
    }
}

.theme-line-container {
    display: inline-grid;
    grid-template-rows: 12px;
    grid-template-columns: auto auto auto auto auto;

    }

.theme-rect-item {
    width: 20vw;

    &.order-1 {
        background-color: $lookaround-hot-red;
    }

    &.order-2 {
        background-color: $lookaround-light-red;
    }

    &.order-3 {
        background-color: $lookaround-middle-yellow;
    }

    &.order-4 {
        background-color: $lookaround-light-blue;
    }

    &.order-5 {
        background-color: $lookaround-cold-blue;
    }
}


/* Specific modules and pages */
@import '../app.component';
@import '../navigation/navigation.component';
@import '../auth/auth.component';
@import '../home/home.component';
@import '../header/header.component';
@import '../leaflet-map/leaflet-map.component';
@import '../header/sidenav-content/sidenav-content.component';
@import '../auth/signup-success-dialog/signup-success-dialog.component';
