<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" id="sidenav-panel">
    <app-sidenav-content></app-sidenav-content>
  </mat-sidenav>
  <mat-sidenav-content>
      <app-header *ngIf="!router.url.startsWith('/login')"></app-header>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>