<div id="signUpSuccessPopup">
  <h1 mat-dialog-title>Welcome aboard! <i class="twa twa-2x twa-1f389"></i></h1>
  <div mat-dialog-content>
    <p>Just a little bit left!</p>
    <p>We have sent you a confirmation link to your email address. In order to complete the sign-up process, please click the confirmation link.</p>
    <p>See you soon!</p>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="onCloseDialog()">Ok</button>
  </div>
</div>