{% extends 'admin/base.html' %}

{% block access_control %}
{% if current_user.is_authenticated %}
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
            <i class="glyphicon glyphicon-user"></i> {{ current_user.username }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('admin.logout_view') }}">Log out</a></li>
        </ul>
    </li>
</ul>
{% endif %}
{% endblock %}
