<mat-tab-group mat-stretch-tabs animationDuration="0ms" id="main-tabs-group">
    <mat-tab>
    <ng-template mat-tab-label>
        <fa-icon [icon]="faMapMarked"></fa-icon>
        Maps
    </ng-template>
    <app-leaflet-map></app-leaflet-map>
    </mat-tab>
    <mat-tab>
    <ng-template mat-tab-label>
        <fa-icon [icon]="faList"></fa-icon>
        List
    </ng-template>
    </mat-tab>
</mat-tab-group>