<div>
    <div>
        <div class="theme-line-container">
            <div class="theme-rect-item order-1"></div>
            <div class="theme-rect-item order-2"></div>
            <div class="theme-rect-item order-3"></div>
            <div class="theme-rect-item order-4"></div>
            <div class="theme-rect-item order-5"></div>
          </div>
    </div>
    <div id="account-details-div">
        <h3>
            Account status: PLN{{ accountBalance }}
        </h3>
        <p class="mat-small">Account: {{ accountEmail }}</p>
    </div>
    <div>
        <mat-action-list>
            <button mat-list-item (click)="onAccount()">
                <fa-icon [icon]="faUserCircle"></fa-icon>
                <h3 class="list-option">My Account</h3>
            </button>
            <button mat-list-item (click)="onMyTasks()">
                <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                <h3 class="list-option">My tasks</h3>
            </button>
            <button mat-list-item (click)="onHowTo()">
                <fa-icon [icon]="faQuestionCircle"></fa-icon>
                <h3 class="list-option">How To</h3>
            </button>
            <button mat-list-item (click)="onLogOut()">
                <fa-icon [icon]="faSignOutAlt"></fa-icon>
                <h3 class="list-option">Log Out</h3>
            </button>
          </mat-action-list>
    </div>
</div>
