app-sidenav-content {

    #account-details-div {
        padding-left: 18px;
        p {
            color: rgba(0, 0, 0, 0.60);
        }
    }

    fa-icon {
        margin-right: 1em;
        font-size: 1.3em;
        width: 25px;
        height: 25px;
    }

    .list-option {
        font-weight: normal;
    }

    .theme-rect-item {
        width: 15vw;
    }

    .theme-line-container {
        grid-template-rows: 9vh;
    }

}
