<div id="tabSection">
    <mat-tab-group mat-align-tabs="center" [selectedIndex]="1" dynamicHeight>
        <mat-tab class="mat-title" label="Sign Up">
          <div class="formsSection">
            <mat-card>
            <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
              <table class="center-section full-width">
                <tr>
                  <td>
                    <mat-form-field class="white-input full-width">
                      <input matInput placeholder="First name"
                            formControlName="firstName"
                            class="form-control"
                            required>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field class="white-input full-width">
                      <input matInput placeholder="Second name"
                            formControlName="secondName"
                            class="form-control"
                            required>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="E-mail"
                            formControlName="email"
                            class="form-control"
                            required
                            required>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Username"
                            formControlName="username"
                            class="form-control"
                            required>
                      <mat-hint>Your unique identificator</mat-hint>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field class="white-input full-width">
                      <input matInput placeholder="Password"
                            formControlName="password"
                            class="form-control"
                            type="password"
                            required>
                    </mat-form-field>
                  </td>
                </tr>
              </table>
              <button mat-raised-button color="primary" type="submit">SIGN UP</button>
            </form>
          </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Login"> 
          <div class="formsSection">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <table class="center-section full-width" cellspacing="10">
                <tr>
                  <td>
                    <mat-form-field appearance="outline" class="white-input full-width">
                      <input matInput placeholder="Username"
                            formControlName="username"
                            class="form-control"
                            required>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field appearance="outline" class="white-input full-width">
                      <input matInput placeholder="Password"
                            formControlName="password"
                            type="password"
                            class="form-control"
                            required>
                      <mat-hint id="hint-position"><a (click)="openSnackBar('Oops, no action yet', 'OK')" id="hint-link">Forgot password?</a></mat-hint>
                    </mat-form-field>
                  </td>
                </tr>
              </table>
              <button mat-raised-button color="primary" type="submit">LOG IN</button>
            </form>
          </div>
        </mat-tab>
    </mat-tab-group>
</div>
<div id="login-page-footer" *ngIf="tabIndex === 1">
  <img
  src="../../assets/login-footer.svg"/>
</div>