app-auth {
    text-align: center;
    display: block;
    height: 100%;

    img {
        width: 100%;
        height: auto;
    }

    .mat-tab-label {
        color: #FFFFFF;
        font-size: large;
    }

    .mat-tab-group.mat-primary {
        .mat-ink-bar {
            background-color: #FFFFFF;
        }
    }

    .mat-tab-group {
        text-align: right;
    }

    .mat-tab-header {
        border-bottom: 0;
    }

    #tabSection {
        max-width: 90%;
        margin: 0 auto;
        padding-top: 40px;
    }

    .formsSection {
        margin: 0 auto;
        padding-top: 15%;
        max-width: 80%;
    }

    .mat-raised-button.mat-primary {
        width: 180px;
        background-color: #4CAF50;
        margin-top: 20px;
    }

    .mat-form-field.white-input {

        .mat-form-field-wrapper {

            .mat-form-field-outline {
                background-color: #FFFFFF;
                border-radius: 5px;
            }

            .mat-form-field-subscript-wrapper {
                padding: 10px 0 10px 0;
            }
        }
    }

    #login-page-footer {
        position: fixed;
        left: 0;
        bottom: -1%;
    }

    #hint-link {
        color: rgba(255, 255, 255, 0.6);
    }
}