{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}

{% macro render_field_with_errors(field) %}

<div class="form-group">
    {{ field.label }} {{ field(class_='form-control', **kwargs)|safe }}
    {% if field.errors %}
    <ul>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endmacro %}

{% macro render_field(field) %}
<p>{{ field(class_='form-control', **kwargs)|safe }}</p>
{% endmacro %}

{% macro render_checkbox_field(field) -%}
<div class="form-group">
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ field.label }}
        </label>
    </div>
</div>
{%- endmacro %}


{% block head_tail %}
    {{ lib.form_css() }}
{% endblock head_tail %}


{% block body %}
{{ super() }}
<div class="row-fluid">
    {% if current_user.is_authenticated %}
        <h3>Generate report</h3>
        <form action="{{ url_for('admin.get_report') }}" method="GET" role="form">
            Time range
            <div class="form-group">
                <input type="text" name="daterange" autocomplete="off"
                       class="form-control" required/>
            </div>
            <button type="submit"
                    class="btn btn-default">Download report</button>
        </form>
    {% else %}
    <div class="row-fluid">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>Login</h1>
            <div class="well">
                <form action="" method="POST" name="login_user_form">
                    {{ render_field_with_errors(form.login) }}
                    {{ render_field_with_errors(form.password) }}
                    <button class="btn" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock body %}


{% block tail %}
    {{ lib.form_js() }}
    <script>
    {% if current_user.is_authenticated %}
        $(function() {
          var start = moment().subtract(7, 'days');
          start.hour(0).minute(0).second(0);
          var end = moment();
          var daterange = $('input[name="daterange"]')
          daterange.daterangepicker({
              startDate: start,
              endDate: end,
              timePicker: true,
              showDropdowns: true,
              timePickerIncrement: 1,
              timePicker12Hour: false,
              separator: ' - ',
              format: 'YYYY/MM/DD HH:mm',
              ranges: {
                  'Today': [moment(), moment()],
                  'Yesterday': [moment().subtract(1, 'days'),
                                moment().subtract(1, 'days')],
                  'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                  'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                  'This Month': [moment().startOf('month'),
                                 moment().endOf('month')],
                  'Last Month': [moment().subtract(1, 'month').startOf('month'),
                                 moment().subtract(1, 'month').endOf('month')],
            },
          });
          daterange.data('daterangepicker').setStartDate(start);
          daterange.data('daterangepicker').setEndDate(end);
        });
    {% endif %}
    </script>
{% endblock tail %}
