<mat-toolbar class="background-main-color" id="top-toolbar-row">
  <mat-toolbar-row>
    <mat-icon id="menu-icon" aria-hidden="false" aria-label="Menu" (click)="toggleSidenav()">menu</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar-row id="theme-row">
  <div class="theme-line-container">
    <div class="theme-rect-item order-1"></div>
    <div class="theme-rect-item order-2"></div>
    <div class="theme-rect-item order-3"></div>
    <div class="theme-rect-item order-4"></div>
    <div class="theme-rect-item order-5"></div>
  </div>
</mat-toolbar-row>