app-header {

    .mat-toolbar-row#theme-row {
        height: 2vh;
        padding: 0;
    }

    #menu-icon {
        color: white;
    }

    #top-toolbar-row {
        min-height: 7vh;
        height: 7vh;
        width: 100vw;
    }

    .theme-line-container {
        grid-template-rows: 2vh;
    }

}
